@import "./fonts";
@import "./colors";

*,
*::after,
::before {
  box-sizing: border-box;
  font-family: $font_family_main !important;
}

section:not(.hero) {
  margin: 0 auto;
  max-width: 1200px;
}

ul.offer {
  li {
    list-style: disc;
  }
}

p {
  font-size: 1rem;
}

b {
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

section > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  font-size: 2.5rem;
}

section > .about-container,
section > .offers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px auto;
  flex-basis: 50%;
  & > div > img {
    width: 420px;
    height: 400px;
    object-fit: cover;
  }
  @media screen and (max-width: 1200px) {
    padding: 15px;
    flex-basis: auto;
    flex-direction: column;
    & > div > img {
      max-width: 100%;
      object-fit: scale-down;
      display: block;
      margin: 0 auto;
    }
  }
}

section.about > h1,
section.offers > h1 {
  display: block;
  text-align: center;
  margin: 15px auto;
  font-size: 2.8rem;
}

textarea {
  height: 150px;
}

@media screen and (max-width: 1200px) {
  textarea {
    height: 99px;
  }
}

a {
  font-weight: 900;
  color: $crl-secondary;
  text-decoration: none;
  transition: color 0.4s ease;
  &:hover {
    color: $crl-base;
  }
}
